@using front_to_back.Areas.Admin.ViewModels.FeaturedWorkComponent
@model FeaturedWorkComponentIndexViewModel
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Featured work components</h4>
                        @if (Model.FeaturedWorkComponents != null)
                        {
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Title</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@Model.FeaturedWorkComponents.Id</td>
                                            <td>@Model.FeaturedWorkComponents.Title</td>
                                            <td class="d-flex">
                                                <a class="btn btn-outline-warning" asp-action="update" asp-controller="featuredworkcomponent" asp-area="admin" asp-route-id=@Model.FeaturedWorkComponents.Id>Update</a>
                                                <a class="btn btn-outline-danger" onclick="confirm('Are you sure?')" asp-action="delete" asp-controller="featuredworkcomponent" asp-area="admin" asp-route-id=@Model.FeaturedWorkComponents.Id>Delete</a>
                                                <a class="btn btn-outline-success" asp-action="details" asp-controller="featuredworkcomponent" asp-area="admin" asp-route-id=@Model.FeaturedWorkComponents.Id>Details</a>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <a class="btn btn-outline-dark" asp-action="create" asp-controller="featuredworkcomponent" asp-area="admin">Create Featured Work Component</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>